/*--------------- DEFAULTS ---------------*/

html, body {
    background: #293670;
    color: #aaa;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 200;
    font-size: 20px;
    margin: 0 0;
}

h1 {
    font-size: 64px;
    font-weight: 100;
}

.header {
    text-align: center;
    background-color: #222d5d;
    padding: 50px 0px;
}

/* MAIN PAGE */

.upload {
    text-align: center;
    margin-top: 20px;
}

#drop {
    min-height: 150px;
    width: 70%;
    border: 1px solid #0c1021;
    margin: 10px;
    padding: 10px;
    display: inline-block;
}

#chooseFile {
    margin: 10px 0px;
    font-size: 20px;
    padding: 10px 30px;
    border: 0px;
    border-radius: 5px;
    background-color: rgb(192, 192, 192);
}

#chooseFile:hover {
    background-color: rgb(150, 150, 150);
}

#chooseFile:active {
    color: #000;
}