<!doctype html>
<head>
  <title>Beatify</title>
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="header">
    <h1>Welcome to Beatify</h1>
  </div>
  <div class="upload">
    <div id="status">Add a music file to analyze.</div>
    <div class="upload-button">
      <button id="chooseFile" onclick="document.getElementById('fileID').click(); return false;" />Choose a file</button>
    </div>
    <input type="file" id="fileID" accept="audio/mp3" style="visibility: hidden;" />
  </div>
</body>